<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper .//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xrz.seimicrawler.mapper.ArticleMapper">

        <insert id="insert">
            insert into Article(date,category,title,author,source,content) value (#{date},#{category},#{title},#{author},#{source},#{content})
        </insert>

</mapper>